@font-face
  font-family 'Roboto'
  src url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap')
  font-weight normal
  font-style normal

body
  margin 0
  font-family 'Roboto', sans-serif
  color #202124
  -webkit-font-smoothing antialiased
  background-color rgb(242, 244, 246)
  height 100vh

.app
  display flex
  justify-content center

  &__form
    margin-top 50px
    width 716px

  &__button
    margin-left 50px
